<div class="bg-white rounded-md p-4 w-full max-w-md text-sm text-[#191919] relative">
	<div class="flex justify-between items-center pb-4">
		<h2 class="text-lg">Edit Influencer Cost</h2>
		<img id="closeInfluencerCostModal" src="../../icons/X.svg" alt="" class="ml-3 h-4 w-4 hover:cursor-pointer" />
	</div>
	
	<!-- ←— Dynamic deliverables go here —→ -->
	<div class="flex w-full mb-3 text-xs text-[#656565]">
		<span class="w-1/2">Deliverables</span>
		<span class="w-1/2">Cost</span>
	</div>
	<div id="deliverablesContainer" class="space-y-4"></div>
	
	<div class="flex justify-end items-center mt-3 space-x-4">
		<span class="text-[#656565] ">Total Cost</span>
		<span class="total-cost">₹ 0</span>
	</div>
	
	<div class="flex justify-end mt-6 space-x-3">
		<button id="cancelInfluencerCostModal" class="px-6 h-[27px] border rounded text-[#656565] hover:border-[#191919] hover:text-[#191919]">
			Cancel
		</button>
		<button class="px-6 h-[27px] bg-black text-white rounded save-cost-btn">
			Save
		</button>
	</div>
</div>