<div class="p-6 bg-white max-w-2xl rounded-md shadow-lg w-full relative space-y-10">
	<div class="flex justify-between items-center">
		<h2 class="text-[#191919]">Manage Columns</h2>
		<img id="closeManageColumn" src="/icons/X.svg" alt="" class="ml-3 h-4 w-4 hover:cursor-pointer" />
	</div>
	
	
	<div>
		<h3 class="text-xs text-gray-400 uppercase mb-4">Audience Metrics</h3>
		<div id="audience-metrics" class="grid grid-cols-3 gap-4"></div>
	</div>
	
	<div>
		<h3 class="text-xs text-gray-400 uppercase mb-4">Plan Metrics</h3>
		<div id="plan-metrics" class="grid grid-cols-3 gap-4"></div>
	</div>
	
	<div>
		<h3 class="text-xs text-gray-400 uppercase mb-4">Platform Metrics</h3>
		<div id="platform-metrics" class="grid grid-cols-3 gap-4"></div>
	</div>
</div>

<script src="/js/plan/list/manageColumns.js"></script>